[package]
name = "ion-rs"
authors = ["Amazon Ion Team <ion-team@amazon.com>"]
description = "Implementation of Amazon Ion"
homepage = "https://github.com/amzn/ion-rust"
repository = "https://github.com/amzn/ion-rust"
license = "Apache-2.0"
readme = "README.md"
keywords = ["ion", "parser", "json", "format", "serde"]
categories = ["encoding", "parser-implementations"]
exclude = [
  "**/.git/**",
  "**/.github/**",
  "**/.travis.yml",
  "**/.appveyor.yml",
  "**/ion-tests/iontestdata/**",
  "*.pdf"
]
version = "0.2.0"
edition = "2018"

[workspace]
members = [
  "ion-c-sys",
]

[dependencies]
base64 = "^0.12.3"
bigdecimal = "^0.2"
bytes = "^0.4"
chrono = "^0.4"
delegate = "^0.5"
failure = "^0.1"
failure_derive = "^0.1"

# NB: We use the tree dependency here for development and CI.
#     Note that when publishing you should update the version
#     so that users can get the correct underlying ion-c-sys version.
ion-c-sys = { path = "./ion-c-sys", version = "0.4" }

[dev-dependencies]
# Used by ion-tests integration
walkdir = "^2.3"

[profile.release]
lto = true
codegen-units = 1
