[package]
name = "ion-rs"
authors = ["Amazon Ion Team <ion-team@amazon.com>"]
description = "Implementation of Amazon Ion"
homepage = "https://github.com/amzn/ion-rust"
repository = "https://github.com/amzn/ion-rust"
license = "Apache-2.0"
readme = "README.md"
keywords = ["ion", "parser", "json", "format", "serde"]
categories = ["encoding", "parser-implementations"]
exclude = [
  "**/.git/**",
  "**/.github/**",
  "**/.travis.yml",
  "**/.appveyor.yml",
  "**/ion-tests/iontestdata/**",
  "*.pdf"
]
version = "0.13.0"
edition = "2021"

[workspace]
members = [
  "ion-c-sys",
  "ion-c-sys-macros",
  "ion-hash"
]

[dependencies]
base64 = "0.12"
bigdecimal = "0.2"
bytes = "0.4"
chrono = "0.4"
delegate = "0.5"
thiserror = "1.0"
nom = "7.1.1"
num-bigint = "0.3"
num-integer = "0.1.44"
num-traits = "0.2"
arrayvec = "0.7"

[dev-dependencies]
rstest = "0.9"
# Used by ion-tests integration
walkdir = "2.3"
test-generator = "0.3"
pretty-hex = "0.2"
memmap = "0.7.0"

[profile.release]
lto = true
codegen-units = 1
