name: CI Build

on: [push, pull_request]

jobs:
  build:
    name: Build and Test
    runs-on: ${{ matrix.os }}
    # We want to run on external PRs, but not on internal ones as push automatically builds
    # H/T: https://github.com/Dart-Code/Dart-Code/commit/612732d5879730608baa9622bf7f5e5b7b51ae65
    if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name != 'amazon-ion/ion-rust'
    strategy:
      matrix:
        # In 2022-01-11, GitHub Actions changed the `windows-latest` virtual environment alias so
        # that it stopped pointing to `windows-2019` and began pointing to `windows-2022` instead.
        # The pipeline needs to be updated to support the new edition of Windows Server. In the
        # meantime, the build only tests Windows Server 2019.
        # See https://github.com/amazon-ion/ion-rust/issues/353
        os: [ubuntu-latest, windows-2019, macos-latest]
        # build and test for different and interesting crate features
        features: ['default', 'all', 'ion-hash', 'experimental', 'ion-hash,experimental']
    permissions:
      checks: write

    steps:
      - name: Remove MSys64 MingW64 Binaries
        if: runner.os == 'Windows'
        # remove this because there is a bad libclang.dll that confuses bindgen
        run: Remove-Item -LiteralPath "C:\msys64\mingw64\bin" -Force -Recurse
      - name: Install Dependencies
        if: runner.os == 'Windows'
        run: choco install llvm -y
      - name: Git Checkout
        uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Rust Toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          components: rustfmt, clippy
          override: true
      - name: Cargo Test (default/no features)
        if: matrix.features == 'default'
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --verbose --workspace
      - name: Cargo Test (all features)
        if: matrix.features == 'all'
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --verbose --workspace --all-features
      - name: Cargo Test (specific feature)
        if: matrix.features != 'default' && matrix.features != 'all'
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --verbose --workspace --features "${{ matrix.features }}"
      - name: Rustfmt Check
        # We really only need to run this once--ubuntu/all features mode is as good as any
        if: matrix.os == 'ubuntu-latest' && matrix.features == 'all'
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --verbose -- --check
      # `clippy-check` will run `cargo clippy` on new pull requests. Due to a limitation in GitHub
      # permissions, the behavior of the Action is different depending on the source of the PR. If the
      # PR comes from the ion-rust project itself, any suggestions will be added to the PR as comments.
      # If the PR comes from a fork, any suggestions will be added to the Action's STDOUT for review.
      # For details, see: https://github.com/actions-rs/clippy-check/issues/2
      - name: Install Clippy
        # The clippy check depends on setup steps defined above, but we don't want it to run
        # for every OS because it posts its comments to the PR. These `if` checks limit clippy to
        # only running on the Linux test. (The choice of OS was arbitrary.)
        if: matrix.os == 'ubuntu-latest' && matrix.features == 'all'
        run: rustup component add clippy
      - name: Run Clippy 
        if: matrix.os == 'ubuntu-latest' && matrix.features == 'all'
        uses: actions-rs/clippy-check@v1
        with:
          # Adding comments to the PR requires the GITHUB_TOKEN secret.
          token: ${{ secrets.GITHUB_TOKEN }}
          args: --all-features --tests
      - name: Rustdoc on Everything
        # We really only need to run this once--ubuntu/all features mode is as good as any
        if: matrix.os == 'ubuntu-latest' && matrix.features == 'all'
        uses: actions-rs/cargo@v1
        with:
          command: doc
          args: --document-private-items --all-features