name: Rust

on: [push]

jobs:
  linux:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Build
        run: cargo build --verbose
      - name: Tests
        run: cargo test --verbose --workspace

  macos:
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Build
        run: cargo build --verbose
      - name: Tests
        run: cargo test --verbose --workspace

  windows:
    runs-on: windows-latest
    env:
      # needed for bindgen
      LIBCLANG_PATH: C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\VC\Tools\Llvm\x64\bin

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Build
        run: cargo build --verbose
      - name: Tests
        run: cargo test --verbose --workspace
